HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Ignoring temp files ###
#[T]emp
/.vs/groundbookingmonolythicapp/v17/.wsuo
/.vs/groundbookingmonolythicapp/FileContentIndex/1dd77958-f340-4670-b9a5-85f11e04b4a3.vsidx
/.vs/groundbookingmonolythicapp/FileContentIndex/6207f54d-711d-431e-8fbc-b2f358467cf8.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
